<!DOCTYPE html>
<html>
    <head>
        <title>Add Music</title>
    </head>
    <body>
        <h2>Add Music</h2>
        <br><br>
        <form action="/create" method="POST" enctype="multipart/form-data">
            Title: <input type="text" name="title"/> <br>
            Artist: <input type="text" name="artist"/> <br>
            Album: <input type="text" name="album"/> <br>
            Upload your song <input type="file" name="music"/> <br>
            <input type="submit"/>
        </form>
    </body>
</html>