{% extends "base.html" %}

{% block title %}
    <title>List Songs</title>
{% endblock %}

{% block body %}
    <ul>
        {% for song in music %}
            <li>
                <p>{{ song.title}} - </p>
                <audio controls="controls">
                    <source src="{{song.url}}"/>
                    Yout browser doesn't support streaming ,click to download <a href="{{song.url}}"> here</a>
                </audio>
            </li>
        {% endfor %}
    </ul>
{% endblock %}